h1 {
  text-align: center;
}

#portrait, image {
  width: auto;
  height: 100px;
  max-width: 120px;
}

.large-2 {
  padding: 1%;
}

.tableHeader {
  font-size: 200%;
  background-color: #675980;
  color: white;

}

.tableBody {
  background-color: #675980;
  color: white;
}

.hidden {
  display: none;
}
